/* Inspired by: css Zen Garden submission 118 - 'Some Leafs', by Michael Tupy, http://www.t-2.at/ */
/* Created: Frebruary 14th, 2011 */

/* tested with: */
/* on Windows 7: firefox 3.6 */


/* ie5 win - grrr - start */
body {
    font: small serif;
    margin: 0px; 
    padding: 0px; 
    line-height: 14px;
    color: #000;
    font-size: x-small;
    voice-family: "\"}\""; 
    voice-family: inherit;
    font-size: small;
    text-align: center;
}
/* ie5 win - grrr - end */
 
/* opera - grrr - start */
html>body {
    font-size: small;
}
/* opera - grrr - end */


/* start of the real css */
/* basic elements */
body {
    color: #444; 
    background-color: #edf6e3;
    background-image: url(../images/bg.jpg);
    background-position: top center;
    background-repeat: repeat-y;
    font-size: 11px; 
    line-height: 14px;
    font-family: Cochin, Georgia, "New Century Schoolbook", "Bitstream Vera Serif", "Times New Roman", times, serif; 
    text-align: left;
    margin: 0px; 
    padding: 0px;
}

p {
    font-size: 11px; 
    line-height: 14px;
    font-family: Cochin, Georgia, "New Century Schoolbook", "Bitstream Vera Serif", "Times New Roman", times, serif; 
    text-align: left; 
    margin: 0px; 
    padding: 0px;
}

h1, h2, h3 {
    font-size: 11px; 
    line-height: 14px;
    font-weight: bold; 
    font-family: Cochin, Georgia, "New Century Schoolbook", "Bitstream Vera Serif", "Times New Roman", times, serif; 
    text-align: left; 
    margin: 0px; 
    padding: 0px;
}

    
a:link {
    font-weight: bold; 
    text-decoration: none; 
    color: #6faf30;
}

a:visited, 
a:visited:hover {
    font-weight: bold; 
    text-decoration: none; 
    color: #7fc937;
}

a:hover, 
a:active {
    text-decoration: underline; 
    color: #4f711f;
}

acronym {
    font-weight: normal; 
    font-style: normal;
    border: 0;
}

img {
    border:none;
}

/* MAJOR DIVS */
#container {
    width: 700px; 
    position: relative;   
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
}


#intro {
    width: 450px;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}

#supportingText {
    width: 450px;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
}

#linkList {
    position: absolute;
    top: 307px;
    left: 0px;
    width: 220px;
    margin: 0px 0px 0px 480px;
    padding: 0px 0px 0px 0px;
}


/** MINOR DIVS **/

/* HEADER */
#pagePreHeader {
    height: 10px;
}

#pageHeader {
    width: 700px;
    height: 20px; /* strange but ie6 needs this */
    background-image: url(../images/h1_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 0px; 
    padding: 224px 0px 0px 0px;
}

#pageHeader h1 {
    width: 600px;
    color: #fff;
    font-size: 24px; 
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: -55px 0px 0px 10px;
    padding: 0px 0px 0px 100px;
}

#pageHeader h2 {
    width: 600px;
    color: #fff;
    font-size: 11px; 
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 104px;
}

#email a {
    text-transform:lowercase;
    color:#fff;
    font-style:italic;
}

.authors {
    text-align:right;
    font-style:italic;
    font-size:12px;
}

/* Change margins to move the picture behind the frame. (e.g. -10px) */
#pageHeader img {
   margin-top:0px;
   margin-left:0px;
}

/* Show frame around the picture. */
#frame {
    margin: -234px 0px 0px -81px;
    padding: 13px 13px 13px 13px;
    float:left;
    display: block;
    background-image: url(../images/frame.png);
    background-position: center center;
    background-repeat: no-repeat;
}

/* Use to crop the picture. */
#portrait {
    width: 163px;
    height: 240px;
    overflow: hidden;
}

#quickContact {
    float:right;
    color:#FFFFFF;
    margin: -220px 5px 0px 0px;
    text-align:right;
    font-size: large;
    font-weight: bold;    
}

/* MENU */
#menu {
    margin: 0px 0px 0px 0px;
    width: 700px;
    height: 43px;
    background: url(../images/img01.png) repeat left top;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    display: block;
    float: left;
}

#menu a {
    display: block;
    float: left;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 13px 30px 0px 30px;
    background: url(../images/img02.gif) no-repeat left top;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
}

#menu a:hover {
    text-decoration: overline underline;
}

#menu .current_page_item a {
    text-decoration: underline;
}


/* SUMMARY */
#quickSummary {
    width: 450px;
    background-image: url(../images/stone_24.gif);
    background-position: top center;
    background-repeat: repeat;
    background-color: #284C00;
    border: 1px solid #aaa;    
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
}

#quickSummary .p1 {
    color: #fff ! important;
    font-size: 10px ! important;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin: 0px 50px 0px 0px;
    padding: 0px 0px 10px 0px;
}
    
#quickSummary .p2 {
    color: #fff ! important;
    font-size: 10px ! important;
    line-height: 14px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left; 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#quickSummary .title {
    padding:28px 0px 22px 0px;
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:300%;
    text-align:center;
}

.content .title {
    padding:28px 0px 22px 0px;
    text-transform:uppercase;
    color:#FFFFFF;
    font-size:300%;
    text-align:center;
}

/* OTHERS */

.content .nom {
    font-size:large;
    font-weight:bold;
    color:#222222
}
.content .lieu {
    font-style:italic;
    color:#666666
}
.content .annee {
    float:right;
}

.content .year {
    width:100px;
    font-weight:bold;
    font-family:'Lucida Console';
}
    
.content {
    width: 450px;
    border: 1px solid #aaa;
    background-color: #fff;    
    margin: 10px -10px 0px -10px;
    padding: 10px 10px 20px 10px;
}

.content p {
    padding-bottom: 8px;
    text-align: justify;
}

#supportingText h3 {
    color: #284C00;
    background-color: #ddd;
    background-image: url(../images/stone_21.gif);
    background-position: bottom center;
    background-repeat: repeat;
    font-size: 11px; 
    line-height: 16px;
    text-transform: uppercase;
    margin: -10px -10px 4px -10px;
    padding: 4px 4px 4px 10px;
}

#supportingText .annee{
    background-image:none;
    background-color:transparent;
    vertical-align:text-bottom;
}

.annee img{
    vertical-align:bottom;
}
    
#footer {
    width: 450px;
    border: 1px solid #aaa;    
    background-image: url(../images/stone_19.gif);
    background-position: center center;
    background-repeat: repeat;
    background-color: #284C00;    
    margin: 10px -10px 20px -10px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
   
#linkList ul {
    border-top: 1px dotted #ccc;
    margin: 5px 5px 0px 5px; 
    padding: 0px 0px 0px 0px;
}

#linkList li {
    display: block;
    list-style-type: none;
    color: #6c9e2d;
    background-color: #f8f8f8;
    font-size: 11px; 
    line-height: 14px;
    font-weight: normal; 
    font-style: italic;
    font-family: Cochin, Georgia, "New Century Schoolbook", "Bitstream Vera Serif", "Times New Roman", times, serif; 
    text-align: left; 
    border-bottom: 1px dotted #ccc;
    margin: 0px 0px 0px 0px; 
    padding: 3px 5px 3px 5px;
}

#linkList li a:link,
#linkList li a:visited, 
#linkList li a:visited:hover,
#linkList li a:hover, 
#linkList li a:active {
    font-style: normal;
    padding-right: 5px;
}

#linkList h3 {
    color: #7fc937;
    background-color: #ddd;
    background-image: url(../images/stone_24.gif);
    background-position: center right;
    background-repeat: repeat-x;
    font-size: 11px; 
    line-height: 16px;
    font-weight: bold; 
    font-family: Cochin, Georgia, "New Century Schoolbook", "Bitstream Vera Serif", "Times New Roman", times, serif; 
    text-transform: uppercase;
    text-align: left; 
    border-bottom: 1px solid #aaa;
    margin: 0px 0px 0px 0px; 
    padding: 3px 5px 3px 5px;
}

.lselect {
    background-image: url(../leaf_09a.gif);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #aaa;    
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 30px 0px;
}
 
#linkList li:hover {
    background-color: #fefefe;
}

   
.c {
    color: #6c9e2d ! important;
    font-weight: normal ! important;
    font-style: italic ! important;
    margin: 0px 0px 0px 0px;
    padding: 0px 14px 0px 0px;
}

.content ul{
	padding: 0px 0px 0px 10px;
	margin-top: -5px;
    font-size: 11px; 
    line-height: 14px;
    font-family: Cochin, Georgia, "New Century Schoolbook", "Bitstream Vera Serif", "Times New Roman", times, serif; 
    list-style:square inside;
    font-style:italic;
}

.content th{
	vertical-align:top;
}

.content table{
    border-collapse:separate;
    border-spacing:10px 5px;
}

.content ol{
    padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 10px;
    font-family: Cochin, Georgia, "New Century Schoolbook", "Bitstream Vera Serif", "Times New Roman", times, serif; 
}